.posts_form {
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  display: flex;
  min-width: 100%;
  > textarea {
    resize: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;

  }
  > button {
    background-color: #1f4068;
    color: white;
    font-size: 16px;
    padding: 0 10px;
  }
}
