.message {
  margin-bottom: 10px;
  &__row {
    display: flex;
    width: 80%;
  }
  &__photo {
    align-self: flex-end;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #1f4068;
    img {
      width: 70px;

    }
  }
  &__body {
    margin-left: 10px;
    border-radius: 10px 10px 10px 0;
    color: black;
    padding: 10px;
    background-color: #fff;
  }
  &__userName {
    font-weight: 600;
    color: mediumslateblue;
  }
  &__time {
    margin: 0 10px;
    color: #E7E8F1;
  }
}

.right {
  display:flex;
  justify-content: flex-end;
  text-align: right;
  &__row {
    flex-direction: row-reverse;
  }
  &__body {
    margin-right: 10px;
    border-radius: 10px 10px 0 10px;
    background-color: #4546A5;
    color: white;
  }
}
