.button {
  background-color: orangered;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  &__img {
    margin-left: -4px;
    display: block;
    max-width: 100%;
    height: auto;
    transform: rotate(-90deg);
  }
}
