@import "src/mainColors";

.sidebar {
  padding: 100px 15px 15px 15px;
  position: fixed;
  width: 200px;
  z-index: 1;
  right: 0;
  height: 100%;
  background-color: $around;
}

.profile {
  display: flex;
  padding: 5px;
  justify-content: left;
  border-radius: 5px;

  &:hover {
    background-color: $hoverColor;
    color: $textColor;
  }

  //&__photo {
  //  flex: 0 0 50px;
  //  border: lavender 2px solid;
  //  border-radius: 50%;
  //  width: 50px;
  //  height: 50px;
  //  overflow: hidden;
  //
  //  img {
  //    height: 50px;
  //  }
  //}

  &__name {
    flex: 0 1 auto;
    margin-left: 10px;
    align-self: center;
    color: $textColor;
  }
}
