@import "src/mainColors";

.login__info {
  background-color: $around;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;

  > div {
    padding: 0 10px;
    font-weight: 600;
    color: white;
  }
}
