.post {
  display: flex;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  img {
    border-radius: 50%;
    width: 60px;
  }
  &__authorPhoto {
    margin-right: 10px;
  }

  &__body {
    &_header {
      display: flex;
      justify-content: space-between;
      font-weight: 800;
    }
    &_text {
      margin-top: 10px;
    }
    &_footer {
      margin-top: 10px;
    }
  }





}
