.post {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  img {
    border-radius: 50%;
    width: 60px;
  }

  &__header {
    padding: 10px 0;
    display: flex;
  }

  &__body {
    align-self: center;
  }

  &__footer {
    align-self: center;
    button {
      border-radius: 5px;
      padding: 10px;
      background-color: coral;
      color: white;
    }
  }
}
