$mainBackground: #feffff;
$around: #4546a5;
$contentColor: #f1f3f4;
$headerColor: #e6e6fa;

$textContentColor: #1D2234;
$textAroundColor: #7f84cb;
$textActiveButtonColor: #fff;

$hoverButtonColor: #5757AD;
$activeButtonColor: #5757AD;

//$mainBackground: #323435;
//$around: #1C1D1C;
//$contentColor: #1f4068;
//$headerColor: #1C1D1C;
//
//$textContentColor: #fff;
//$textAroundColor: #fff;
//$textActiveButtonColor: #000;
//
//$hoverButtonColor: #292a2b;
//$activeButtonColor: #292a2b;

