$mainBackground: #aac1c1;
$around: darkslategrey;
$contentColor: darkcyan;
$headerColor: lavender;

$textContentColor: #fff;
$textAroundColor: #fff;
$textActiveButtonColor: #fff;

$hoverButtonColor: darkcyan;
$activeButtonColor: darkcyan;

//$mainBackground: #323435;
//$around: #1C1D1C;
//$contentColor: #1f4068;
//$headerColor: #1C1D1C;
//
//$textContentColor: #fff;
//$textAroundColor: #fff;
//$textActiveButtonColor: #000;
//
//$hoverButtonColor: #292a2b;
//$activeButtonColor: #292a2b;

