$mainBackground: #323435;
$around: #1C1D1C;
$contentColor: #1f4068;

$textColor: #fff;
$textActiveColor: #000;

$hoverColor: #292a2b;

//$mainBackground: #323435;
//$around: #1C1D1C;
//$contentColor: #1f4068;
//
//$textColor: #fff;
//$textActiveColor: #000;
//
//$hoverColor: #292a2b;

