.input {
    font-family: "Open Sans", sans-serif;
    position: relative;
}

.input__label {
    margin: 0 20px;
    padding: 0;
}

.input__elem {
    box-sizing: border-box;
    min-width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    transition: border 0.3s ease;
    border: #BBC1E1 solid 2px;
    border-radius: 999px;
    outline: none;
    font-size: 18px;

}

.input__elem:focus {
    border-color: cornflowerblue;
}

.input__elem::placeholder {
    font-family: "Open Sans", sans-serif;
    color: #BBC1E1;
}

.input__error:focus {
    border-color: #ff4d4d;
}

.input__error {
    border-color: #ff9999;
}

.input__elem:disabled {
    cursor: not-allowed;
    border-color: #b3b3b3;
}
.inputs__error_text {
    position: absolute;
    bottom: -5px;
    right: 15px;
    font-weight: 600;
    font-size: 12px;
    color: #ff4d4d;
}
