@import "src/mainColors";

.nav {
    background-color: $around;
    padding: 100px 0 0 0;
    position: fixed;
    width: 200px;
    height: 100%;
    z-index: 1;
}
.item {
    padding: 15px;
    color: $textAroundColor;
    text-decoration: none;
    display: block;
    &:hover{
        background-color: $hoverButtonColor;
        color: $textAroundColor;
    }
    &.active {
        background-color: $activeButtonColor;
        color: $textActiveButtonColor;
        font-weight: 600;
    }

}
