@import "src/mainColors";

.nav {
  //display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: $around;
  &__items {
    margin-top: 150px;
  }
}


.item {
  display: flex;
  padding: 5px 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  color: $textAroundColor;

  &:hover {
    color: $textAroundColor;
    background-color: $hoverButtonColor;
  }

  &.active {
    font-weight: 600;
    padding: 5px 2px;
    color: $textActiveButtonColor;
    border-left: 3px solid white;
    background-color: $activeButtonColor;
  }

  &__icon {

    img {
      width: 40px;
      height: 40px;
    }
  }

  &__name {
    align-self: center;
    margin-left: 10px;
  }
}


@media (max-width: 1400px) {
  .nav {
    width: 50px;
  }
  .item {
    &__name {
      display: none;
    }
  }
}
